/* MOBILE ONLY */
@media (max-width: 992px) {
  .jumbotron-get-started{
    display: none;
  }

}





/* Desktop ONLY */
@media (min-width: 992px) {
  .jumbotron-get-started{
    background-image: url(./assets/homepage.png);
    width: 100%;
    height: 645px;
  }

  h4.home-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 5px;
    width: 570px;
  }

  h5.home-teks{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 550px;
    margin-top: 15px;
  }

  button.btn-get-started{
    background: #FFBA33;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
  }

  div.card-staff-store{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
    width: 1140px;
    height: 200px;
    margin-top: 115px;
    position: relative;
  }

  div.card-shadow{
    background: #0D1025;
    /* background: red; */
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 1068px;
    height: 189px;
  }

  div.icon-user{
    background-image: url(./assets/user-icon.png);
    width: 55px;
    height: 55px;
    margin-top: 72.5px;
    margin-left: 91px;
  }

  div.icon-store{
    background-image: url(./assets/icon-location.png);
    width: 55px;
    height: 55px;
    margin-top: 72.5px;
    margin-left: 91px;
  }

  div.icon-customer{
    background-image: url(./assets/icon-customers.png);
    width: 55px;
    height: 55px;
    margin-top: 72.5px;
    margin-left: 91px;
  }

  h5.staff-quantity{
    font-family: Rubik;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    font-weight: 800;
    position: absolute;
    left: 180px;
    top: 70px;
  }

  h5.staff-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
    position: absolute;
    left: 180px;
    top: 100px;
  }

  div.vertical-line{
    border: 2px solid #EEEFF2;
    height: 125px;
    width: 2px;
    position: relative;
    left: 365px;
    top: -91px;
  }
}









