.card-green{
    width: 300px;
    background-color: #88B788;
    display: flex;
    border-radius: 20px;
    margin: 7px auto;
    padding: 0 3px;
}
.card-yellow{
    width: 300px;
    background-color: #F5C361;
    display: flex;
    border-radius: 20px;
    margin: 7px auto;
    padding: 0 3px;
}
.card-pink{
    width: 300px;
    background-color: #C59378;
    display: flex;
    border-radius: 20px;
    margin: 7px auto;
    padding: 0 3px;
}
.card > img {
    max-height: 150px;
    object-fit: contain;
}
.card-text > h5 {
    margin: 0;
    margin-top: 17px;
}
.card-text > p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}