.formData label {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
}

.formData input {
  width: 594px;
  height: 76px;
  margin-bottom: 50px;
  background: #ffffff;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
}

.size {
  margin-bottom: 40px;
}

.textSize {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
}

.circle-size {
  width: 70px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  border: none;
  border-radius: 100%;
  background: #f4f4f8;
  color: #4f5665;
  margin-right: 20px;
}

.circle-size:focus {
  background: #ffba33;
  color: #000000;
}

.circle-size-litle {
  width: 70px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #4f5665;
  border: none;
  border-radius: 100%;
  background: #f4f4f8;
  margin-right: 20px;
}

.circle-size-litle:focus {
  background: #ffba33;
  color: #000000;
}

.btn-enter-disc {
  width: 391px;
  height: 83px;
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #000000;
  border: none;
}

.titleExpire {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
  margin-top: 45px;
}

/* .dropdown-disc {
  width: 391px;
  border-radius: 20px;
} */
