.size {
  padding-top: 10px;
  position: absolute;
  top: 80px;
  width: 362px;
  height: 168px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
}

.title-size {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.circle-size {
  width: 70px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  border: none;
  border-radius: 100%;
  background: #f4f4f8;
  color: #9f9f9f;
  margin-right: 20px;
}

.circle-size:focus {
  background: #ffba33;
  color: #000000;
}

.checkout {
  position: absolute;
  top: 80px;
  padding-top: 20px;
  padding-left: 40px;
  margin-left: 20px;
  width: 725px;
  /* height: 168px; */
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
}

.img-product {
  height: 124.78901672363281px;
  width: 120.6431884765625px;
  border-radius: 100%;
}

.title-checkout {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
}

.subtitle-checkout {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 37px;
  color: #000000;
}

.title-btn-checkout {
  position: absolute;
  top: 60px;
  right: 150px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.circle-checkout {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #ffba33;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.circle-checkout:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 150%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  border-radius: 100% !important;
}

.circle-checkout:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
