.img-product {
  height: 285px;
  width: 280px;
  border-radius: 100%;
}
.div-flex {
  justify-content: space-evenly !important;
}
.card-delivery {
  margin-top: 80px;
  padding-top: 25px;
  padding-left: 45px;
  height: 381px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
}

.title-card-delivery {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
  margin-left: -19px;
}

.subtitle-card-delivery {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-right: 66px;
  margin-top: 7px;
}

.card-delivery input {
  width: 256px;
  height: 47px;
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #9f9f9f;
  padding-left: 10px;
}

.radio {
}
.radio input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
}
.radio label {
  background-color: #f4f4f8;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(186, 186, 186, 0.35);
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.radio label:hover {
  cursor: pointer;
}
.radio input:checked + label {
  background-color: #6a4029;
  color: white;
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
}

@media (max-width: 3000px) {
  input {
    display: block !important;
  }
  .display-input {
    display: block !important;
  }
}
