.product-detail {
    height: 1000px;
}

.title-route {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #4F5665;
}

.product-detail span {
    color: #8F705E;
    font-weight: bold;

}