.product-detail {
  height: 1000px;
}

.title-route {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #4f5665;
}

.product-detail span.title {
  color: #8f705e;
  font-weight: bold;
  transition: 0.5s ease;
}

.product-detail span.title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.product-detail span.favourite {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #4f5665;
  transition: 0.5s ease;
}

.product-detail span.favourite:hover {
  opacity: 0.8;
  cursor: pointer;
}
