.card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    height: 65px;
    margin: auto;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 5px;
    background-color: white;
    padding: 0 15px;
}
.card-title > p{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #362115;
}
.ptitle{
    font-weight: 700;
}
.card > img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.circle{
    width: 25px;
    height: 25px;
    border: 3px solid #6A4029;
    border-radius: 100%;
}
.arrow-right{
        border: solid #6A4029;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
}
