.term-condition{
    margin: auto;
    margin-top: 3.5em;
    color: #4F5665;
}
.term-condition > h6 {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.term-condition > ol {
    margin: 0;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 14px;
}