body {
  font-family: "Rubik", sans-serif;
}

main {
  display: grid;
  grid-template-areas: "section aside";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 1628px;
}

main section.auth-forgots {
  grid-area: section;
  background-image: url(../../assets/images/hero-forgot.png);
  background-size: cover;
  background-position-x: -20px;
}

main aside.auth-forgot {
  grid-area: aside;
  background-color: white;
}

main aside.auth-forgot div.forgot-password {
  margin-top: 100px;
  margin-bottom: 40px;
}

main aside.auth-forgot div.forgot-password h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 96px;
  color: #000000;
  white-space: nowrap;
}

main aside.auth-forgot div.forgot-password p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 40.5px;
  color: #000000;
  white-space: nowrap;
  margin-top: -15px;
}

main aside.auth-forgot div.time {
  margin-top: 60px;
  margin-bottom: 50px;
}

main aside.auth-forgot div.time p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  white-space: nowrap;
}

main aside.auth-forgot div.time span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  white-space: nowrap;
}

main aside.auth-forgot p.coffee {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

main aside.auth-forgot a.auth {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #6a4029;
  text-decoration: none;
}

main aside.auth-forgot form label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #4f5665;
}

main aside.auth-forgot form input.form-control {
  width: 611px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #4f5665;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
  padding-left: 30px;
}

main aside.auth-forgot form input.form-control::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
}

main aside.auth-forgot form button.btn-auth {
  width: 611px;
  height: 90px;
  background-color: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #6a4029;
}

main aside.auth-forgot form button.btn-auth-here {
  width: 611px;
  height: 90px;
  background-color: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

main aside.auth-forgot .footer-auth {
  margin-top: 200px;
}

main aside.auth-forgot .footer-auth p.coffee-shop {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

main aside.auth-forgot .footer-auth p.detail {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  transform: translateX(-25px);
  white-space: nowrap;
}

main aside.auth-forgot .footer-auth .social img:first-of-type {
  transform: translateX(-45px);
}

main aside.auth-forgot .footer-auth .social img:nth-of-type(2) {
  transform: translateX(-70px);
}

main aside.auth-forgot .footer-auth .social img:last-of-type {
  transform: translateX(-95px);
}

main aside.auth-forgot .footer-auth p.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
  transform: translateX(-24px);
}

main aside.auth-forgot .footer-auth p.product,
main aside.auth-forgot .footer-auth p.engage {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

main aside.auth-forgot .footer-auth nav {
  margin-top: 50px;
}

main aside.auth-forgot .footer-auth nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  white-space: nowrap;
}

main aside.auth-forgot .footer-auth .detail-footer {
  margin-top: -35px;
}

.bgMobile {
  display: none;
}

@media only screen and (max-width: 600px) {

  main.forgot {
    height: 1280px !important;
    width: 429px !important;
    margin: 0px;
    padding: 0px;
  }

  .logoCoffe,
  main section.auth-forgots,
  main aside.auth-forgot p.coffee,
  main aside.auth-forgot .footer-auth {
    display: none !important;
  }

  main.forgot {
    width: 500px !important;
  }

  main aside.auth-forgot {
    width: 429px;
    position: absolute;
    left: -50px;
    top: -50px;
  }

  main aside.auth-forgot div.forgot-password h1,
  main aside.auth-forgot div.forgot-password p {
    width: 429px;
    visibility: hidden;
  }

  main aside.auth-forgot div.forgot-password h1:after {
    position: absolute;
    visibility: visible;
    content: 'Don’t \A Worry !';
    left: 0px;
    right: 0px;
    font-size: 65px;
    line-height: normal;
    white-space: pre;
  }

  main aside.auth-forgot div.forgot-password p:after {
    width: 429px;
    position: absolute;
    visibility: visible;
    content: "Enter your email adress to get \A reset password link";
    top: 350px;
    left: 0px;
    right: 0px;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    white-space: pre;
  }

  .bgMobile {
    display: block;
    margin-top: 200px;
    margin-left: 80px;
  }

  main aside.auth-forgot form input.form-control {
    width: 352px;
    background: transparent;
    margin-left: 38px !important;
    margin-right: 38px !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #9F9F9F;
    color: #000000;
  }

  main aside.auth-forgot form button.btn-auth,
  main aside.auth-forgot form button.btn-auth-here {
    width: 352px;
    height: 70px;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 38px;
  }

  main aside.auth-forgot form input.form-control::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9A9A9D;
  }

  main aside.auth-forgot div.time p {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
  }

  main aside.auth-forgot div.time span {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
  }
}