.history-card {
    margin-top: 90px;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    height: 126px;
    width: 364px;
}

.img-product {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.title-History {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0px;
}

.price-history {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #895537;
    margin-bottom: 0px;

}
.status {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #6A4029;
}
.size{
    display: none;
}

.checkbox {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-top: 80px;
}
.selectAll {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: end;
    cursor: pointer;
}



@media (max-width: 575.98px) {
    .history-card{
        margin: 0 1em;
        margin-bottom: 1em;
        box-shadow: none;
        background-color: #F5F5F8;
    }
    .title-History{
        font-size: 16px;
        line-height: 22px;
    }
    .price-history{
        font-size: 14px;
        line-height: 18px;
    }
    .size{
        display: block;
        margin: 0;
    }
    .status{
        font-size: 1rem;
        font-weight: 400;
        color: black;
    }
    .img-product{
        width: 80px;
        height: 80px;
        margin-top: 20px;
        border-radius: 20px;
    }
    .checkbox{
        display: block;
        margin: 50px 0px 50px 25px;
    }

}