.card-progress{
  width: 720px;
  height: 701px;
  background-color: white;
  padding-left: 45px;
  border-radius: 20px;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.6);
}

.card-progress h5.title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  padding-top: 30px;
}

.card-progress img.more{
  position: absolute;
  right: 50px;
  margin-top: -40px;
  
}

.card-progress h5.date{
  color: #7C828A;
  font-size: 20px;
}







.card-progress .line{
  width: 640px;
  border: 1px solid #D6D9DC;
  position: absolute;
  bottom: 90px;
}

.card-progress .income-indicator{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFBA33;
  position: absolute;
  bottom: 40px;
  left: 267px;
}

.card-progress .income-indicator h5{
  font-size: 15px;
  line-height: 22px;
  color: #7C828A;
  margin-left: 30px;
  margin-top: -3px;
}

.card-progress .outcome-indicator{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:rgba(106, 64, 41, 1);
  position: absolute;
  bottom: 40px;
  left: 367px;
}

.card-progress .outcome-indicator h5{
  font-size: 15px;
  line-height: 22px;
  color: #7C828A;
  margin-left: 30px;
  margin-top: -3px;
}