.footer {
    background: #F8F8F8;
    padding-top: 150px;
}

.brand-footer {
    display: flex;
    margin-bottom: 15px;
}

.text-brand-title {
    position: absolute;
    left: 60px;
    top: 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

.text-brand-subtitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.social-media {
    display: flex;
}

.social-media i {
    color: #4F5665;
}

.circle {
    width: 28px;
    height: 28px;
    padding-left: 7px;
    padding-top: 2px;
    margin-right: 5px;
    background: #FFBA33;
    border-radius: 100%;
}

.text-copyright {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    color: #AFB5C0;
}

.text-title-footer {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.text-subtitle-footer {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #4F5665;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}