div.jumbotron-testimony{
  background-color: white;
}

.testimony-title{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin-top: 50px;
}

.testimony-teks{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665
}

.testimony-box{
  background: #FFFFFF;
  border: 2px solid #6A4029;
  box-sizing: border-box;
  border-radius: 10px;
  width: 350px;
  height: 230px;
  margin-top: 60px;
}

.img-testi-1{
  background-image: url(./assets/img-testi-1.png);
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.img-testi-2{
  background-image: url(./assets/img-testi-2.png);
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.img-testi-3{
  background-image: url(./assets/img-testi-3.png);
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

h5.user-name{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0B132A;
  position: relative;
  left: 100px;
  top: -50px;
}

h5.user-from{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4F5665;
  position: relative;
  left: 100px;
  top: -60px;
}

p.user-review{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-top: -40px;
}

.img-star{
  background-image: url(./assets/star.png);
  width: 14px;
  height: 14px;
  position: absolute;
  right: 40px;
  bottom: 170px;
}

h5.star-number{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0B132A;
  position: absolute;
  right: 65px;
  bottom: 152px;
}

.pagination-left{
  width: 60px;
  height: 60px;
  background-image: url(./assets/left.png);
  margin-top: 60px;
  position: absolute;
  right: 230px;
}

.pagination-right{
  width: 160px;
  height: 160px;
  background-image: url(./assets/right.png);
  margin-top: 30px;
  position: absolute;
  right: 70px;
}

.pagination-button{
  background-image: url(./assets/union.png);
  width: 45px;
  height: 16px;
  margin-top: 80px;
}

li.pagination-circle{
  width: 15px;
  height: 25px;
  border-radius: 50%;
  background:rgba(106, 64, 41, 1);
  position: relative;
  top: 100px;
  left: 75px;
  margin-right: 15px;
}
.pagination-circle-2{
  width: 15px;
  height: 25px;
  border-radius: 50%;
  background:rgba(106, 64, 41, 1);
  position: relative;
  top: 100px;
  left: 75px;
  margin-right: 15px;
}
.pagination-circle-3{
  width: 15px;
  height: 25px;
  border-radius: 50%;
  background: rgba(106, 64, 41, 1);
  position: relative;
  top: 100px;
  left: 75px;
}

.card-check-promo{
  background: white ;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 1140px;
  height: 233px;
  margin-left: auto;
  margin-right: auto;
  /* position:absolute;
  left: 104.5px;
  margin-top: -70px; */
}

.promo-title{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #0B132A;
  margin-left: 70px;
  margin-top: 78px;
}

.promo-teks{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #4F5665;
  margin-left: 70px;
}

.btn-promo{
  background: #FFBA33;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #6A4029;
  margin-left: 750px;
  position: relative;
  top: -80px;
}