.formData label {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
}

.formData input {
  width: 594px;
  height: 76px;
  padding-left: 30px;
  margin-bottom: 50px;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 20px;
}
.formData textarea {
  width: 594px;
  min-height: 76px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: auto;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 20px;
}
.size {
  margin-bottom: 40px;
}

.textSize {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
}

.circle-size {
  width: 70px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  border: none;
  border-radius: 100%;
  background: #f4f4f8;
  color: #4f5665;
  margin-right: 20px;
}

.circle-size:focus {
  background: #ffba33;
  color: #000000;
}

.circle-size-litle {
  width: 70px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #4f5665;
  border: none;
  border-radius: 100%;
  background: #f4f4f8;
  margin-right: 20px;
}

.circle-size-litle:focus {
  background: #ffba33;
  color: #000000;
}
