/* MOBILE ONLY */
@media (max-width: 992px) {
  
  div.jumbotron-visit-store{
    display: none;
  }
  
}


div.jumbotron-visit-store{
  background-color: white;
  margin-top: -33px;
}

h4.visit-store-title{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin-top: 20px;
}

p.visit-store-teks{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665
}

.visit-store-img{
  background-image: url(./assets/visit-store.png);
  width: 1060px;
  height: 537px;
  margin-top: 155px;
}

h4.partner-title{
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 100px;
}

.img-partner-1{
  background-image: url(./assets/partner-1.png);
  width: 155px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 50px;
}
.img-partner-2{
  background-image: url(./assets/parnter-5.png);
  width: 185px;
  height: 150px;
  position: absolute;
  top: 10px;
}
.img-partner-3{
  background-image: url(./assets/partner-3.png);
  width: 185px;
  height: 50px;
  position: absolute;
  top: 40px;
}
.img-partner-4{
  background-image: url(./assets/partner-4.png);
  width: 165px;
  height: 50px;
  position: absolute;
  top: 40px;
}
.img-partner-5{
  background-image: url(./assets/amazon.png);
  width: 255px;
  height: 150px;
  position: absolute;
  top: -35px;
  right: 40px;
}
