div.jumbotron-dashboard{
  background-color: #F8F8F8;
}

.dashboard-title{
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #6A4029;
}
