body {
  font-family: "Rubik", sans-serif;
}

main {
  display: grid;
  grid-template-areas: "section aside";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 1628px;
}

main section.auth {
  grid-area: section;
  background-image: url(../../assets/images/hero-auth.png);
  background-size: cover;
}

main aside.auth {
  grid-area: aside;
  background-color: white;
}

main aside.auth p.coffee {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

main aside.auth a.auth {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #6a4029;
  text-decoration: none;
}

main aside.auth form label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #4f5665;
}

main aside.auth form input.form-control {
  width: 505px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #4f5665;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
  padding-left: 30px;
}

main aside.auth form input.form-control::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
}

main aside.auth form button.btn-auth {
  width: 505px;
  height: 75px;
  background-color: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #6a4029;
}

main aside.auth form button.btn-google {
  width: 505px;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  border-radius: 20px;
}

main aside.auth form button.btn-google span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

main aside.auth form p.already {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #9f9f9f;
  margin-top: 4px;
}

main aside.auth form hr {
  width: 136px;
  border: 2px solid #c4c4c4;
}

main aside.auth form button.btn-auth-here {
  width: 505px;
  height: 75px;
  background-color: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

main aside.auth .footer-auth {
  margin-top: 200px;
}

main aside.auth .footer-auth p.coffee-shop {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

main aside.auth .footer-auth p.detail {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  transform: translateX(-25px);
  white-space: nowrap;
}

main aside.auth .footer-auth .social img:first-of-type {
  transform: translateX(-45px);
}

main aside.auth .footer-auth .social img:nth-of-type(2) {
  transform: translateX(-70px);
}

main aside.auth .footer-auth .social img:last-of-type {
  transform: translateX(-95px);
}

main aside.auth .footer-auth p.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
  transform: translateX(-24px);
}

main aside.auth .footer-auth p.product,
main aside.auth .footer-auth p.engage {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

main aside.auth .footer-auth nav {
  margin-top: 50px;
}

main aside.auth .footer-auth nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  white-space: nowrap;
}

main aside.auth .footer-auth .detail-footer {
  margin-top: -35px;
}
