.order-card{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    width: 487px;
    height: 737px;
    margin-left: 166px;
    margin-top: 41px;
  }
  
  .bottom-detail{
    position: absolute;
    bottom: 30px;
  }


  .order-card h5.title-sum{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    color: #362115;
    margin-left: 98px;
    padding-top: 85px;
    margin-bottom: 80px;
  }
  
  .order-card img{
    width: 82px;
    height: 90px;
    margin-left: 44px;
    border-radius: 20px;
  }
  
   .order-card h5.product-name{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
   }
  
  .order-card h5.qty{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
  }
  
  .order-card h5.size{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
  }
  
  .order-card h5.price{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 10px;
  } 
   
  .order-card .line{
    width: 400px;
    border: 1px solid #000000;
    margin-left: 44px;
  }
  

  .payment-title h6{
    font-size: 18px;
    line-height: 30px;
    color: #362115;
    margin-top: 5px;
    margin-left: 44px;
  }
  
  .payment-value{
    text-align: right;
    /* margin-right: 45px; */
  }
  
  .payment-value h6{
    font-size: 18px;
    line-height: 30px;
    color: #362115;
    margin-top: 5px;
  }
  
  .order-card h4.total{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: #362115;
    margin-left: 44px;
    margin-top: 30px;
  }
  
  .order-card h4.total-price{
    text-align: right;
    /* margin-right: 45px; */
    margin-top: 30px;
  }
  
  /* address */
  h4.address-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
  }
  
  .card-address{
    width: 454px;
    height: 228px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: -10px;
  }
  
  .edit-address{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
    top: -35px;
    left: 380px;
  
  }
  
  h4.payment-title{
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 50px;
  }
  
  .card-payment{
    width: 454px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 10px;
  }
  
  h5.deliver-teks{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-left: 42px;
    padding-top: 31px;
  }
  
  h5.address{
    font-weight: 200;
    font-size: 13px;
    line-height: 30px;
    color: #000000;
    margin-left: 42px;
    width: 400px;
  }
  
  h5.phone{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-left: 42px;
  }
  
  button.btn-card-payment{
    background-color: transparent;
    border: none;
    margin-left: 70px;
    padding-top: 20px;
  }
  
  .card-payment h5{
    display: inline;
    margin-left: 15px;
  }
  
  button.btn-confirm-pay{
    width: 452px;
    height: 84px;
    background: #6A4029;
    box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
    border-radius: 20px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;
  }
  .btn-com-pay{
    display: none;
  }

  @media (max-width: 575.98px) {
    .order-card{
      height: min-content;
      margin: 0;
      padding: 20px;
      width: 90%;
      margin: auto;
      position: relative;
      z-index: -1;
    }
    .order-card h5.title-sum{
      margin: 0;
      padding-top: 40px;
      font-size: 20px;
    }
    .column{
      margin: 0;
      padding: 0;
    }
    .order-card img{
    margin-left: 15px;
    border: 20px;
    width: 60px;
    height: 70px;
    }
    .order-card h5.product-name{
      font-size: 14px;
      margin: 0;
      line-height: 20px;
      font-weight: 400;
     }
     .column-title{
       flex-grow: 2;
       margin-left: 5px;
     }
     .order-card h5.price{
      margin: 0;
      margin-top: 20px;
    }
    .map-card{
      margin-bottom: 1em;
    }
    .body-resp{
      display: none;
    }
    .order-card .line{
      width: 78vw;
      margin-left: 0;
    }
    .payment-title h6{
      margin-left: 0px;
    }
    .order-card h4.total{
      margin-left: 0;
    }
    .bot-btn button{
      width: 200px;
    }
    .bottom-detail{
      margin-top: 5em;
      position: static;
    }
    .btn-com-pay{
      display: block;
      margin: auto;
      width: 80%;
      height: 60px;
      color: white;
      background-color: #362115;
      border-radius: 30px;
      box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
      position: relative;
      top: 50px;
    }
    .btn-com-pay > h3{
      text-align: center;
      font-size: 18px;
      line-height: 60px;
    }
    .btn-com-pay:hover{
      cursor: pointer;
    }
  }