/* MOBILE ONLY */
@media (max-width: 992px) {
    .most-favorite{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 80px;
    }

    .product-bg{
        width: 156px;
        height: 212px;
        background-color: rgba(57, 57, 57, 0.1);
        border-radius: 20px;
        margin-bottom: 70px;
    }

    .h4.title-mobile{
        display: none;
    }

    p.favorite-teks-mobile{
        display: none;
    }

    img.product-promo{
        width: 123px;
        height: 123px;
        border-radius: 50%;
        margin-top: -40px;
        margin-left: 16px;
    }

    p.price{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        color: #6A4029;
        background-color: white;
        border-radius: 30px;
        position: relative;
        top: -20px;
    }

    p.product-name{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 101.34%;
        text-align: center;
        color: #000000;
        margin-top: -30px;
    }

    p.normal-price{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        color: #9F9F9F;
        text-decoration: line-through white;
    }

}



/* MOBILE ONLY */
@media (min-width: 992px) {
    .promo-for-you{
        display: none;
    }

}