/* MOBILE ONLY */
@media (max-width: 992px) {
  
  .favorite-title{
    display: none;
  }

  .jumbotron-favorite{
    background-color: #F2F2F2;
    width: 100%;
  }

  h4.title-mobile{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color:rgba(0, 0, 0, 1);
  }

  .mobile-contain{
    margin-left: 5%;
  }

  .favorite-description{
    display: none;
  }

  .favorite-teks-mobile{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #6A4029;
    margin-top: 44px;
    /* margin-bottom: 49px; */
  }


  .product-list{
    display: none;
  }

  button.seemore{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #6A4029;
    border: none;
    margin-bottom: 40px;
    display: block;
    
  }
  

}


/* DEKSTOP ONLY */
@media (min-width: 992px) {
  .boxs{
    display: none;
  }

  .seemore{
    display: none;
  }

  .favorite-teks-mobile{
    display: none;
  }

  h4.title-mobile{
    display: none;
  }

  .jumbotron-favorite{
    background-color: #F8F8F8;
  }

  .favorite-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
  }

  .favorite-description{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
  }

  .favorite-product{
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 330px;
    height: 567px;
    margin-top: 250px;
  }

  .img-product{
    background-image: url(./assets/product-1.png);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
  }

  .img-product-2{
    background-image: url(./assets/product-2.png);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
  }

  .img-product-3{
    background-image: url(./assets/product-3.png);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
  }

  .product-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-top: -20px;
    margin-bottom: 40px;
  }

  .icon-checklist{
    background-image: url(./assets/icon-checklist.png);
    width: 15px;
    height: 10px;
    margin-left: 75px;
    margin-top: -5px;
    /* margin-top: 40px; */
  }

  .product-top{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    position: relative;
    top: -20px;
    left: 110px;
  }

  h3.product-price{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    position: absolute;
    bottom: 80px;
    left: 115px;
  }

  button.btn-product{
    width: 177px;
    height: 45px;
    border: 2px solid #FFBA33;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    color: #6A4029;
    position: absolute;
    bottom: 30px;
    left: 91.5px;
  }

  button.btn-product-2{
    width: 177px;
    height: 45px;
    background: #FFBA33;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    color: #6A4029;
    position: absolute;
    bottom: 30px;
    left: 91.5px;
  }
}
